<div class="d-block text-center text-white">
    2019 © Projeto Integrador Atibaia &nbsp;<a href="https://univesp.br/" class="text-white opacity-40 fw-500" title="gotbootstrap.com" target="_blank">gotbootstrap.com</a>
</div>