@{
    ViewData["Title"] = "PI";
    ViewData["Category1"] = "Página Inicial";

    ViewData["PageName"] = "home_Dificuldades";
    ViewData["Heading"] = "<i class='fal fa-info-circle'></i> Página Inicial";

    ViewData["PageDescription"] = "O que é esse projeto?";
}
@section HeadBlock {}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
    <h3 class="mb-g">
        Home
    </h3>

    <p>
       Primeiramente o prazo, é de único coro, que as disciplinas do 9º bimestre foram as mais desafiadoras, principalmente Circuitos Elétricos onde envolveu um conteúdo muito denso para o período além de domínio completo de complexos cálculos matemáticos que descobrimos que não estava tão bom assim.<br />
Outra dificuldade foi o pouco material e estudos realizados no Brasil, praticamente nos forçando a utilizar material totalmente internacional e produzir e pensar do zero.<br />
Fizemos um cálculo e para execução do aplicativo + sensores seriam necessário mais de 80 horas de desenvolvimento, por isso tivemos que eliminar e simplificar a forma como fizemos.<br />
</p>
</div>


@section Scripts {
}
