@{
    ViewData["Title"] = "PI";
    ViewData["Category1"] = "Página Inicial";

    ViewData["PageName"] = "home_index";
    ViewData["Heading"] = "<i class='fal fa-info-circle'></i> Página Inicial";

    ViewData["PageDescription"] = "O que é esse projeto?";
}
@section HeadBlock {}
    <div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
        <h3 class="mb-g">
            Home
        </h3>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel elementum elit, eget sodales elit. Integer ut egestas nulla, eget porta dolor. Pellentesque dignissim tempor elementum. Vestibulum vehicula ligula sit amet molestie sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla porttitor molestie magna, id auctor lectus faucibus eu. Integer turpis augue, fringilla vel varius ac, viverra sed risus. Integer placerat nibh a orci ultrices, vitae imperdiet lacus feugiat. Maecenas sit amet ante tempor, maximus orci non, consequat neque. Fusce finibus faucibus urna vel mattis. Cras sit amet mollis nisl. Ut semper ullamcorper massa vitae bibendum.
        </p>
        <p>
            Aenean auctor tellus efficitur, bibendum quam ut, condimentum lorem. Sed non sapien magna. Proin lobortis felis at scelerisque imperdiet. Sed at efficitur velit, eget lobortis velit. Nulla facilisi. Cras lectus elit, commodo eget fermentum ac, sollicitudin eu lorem. Ut commodo odio orci, vel accumsan mauris euismod in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras posuere mauris metus, id mollis nisl rhoncus ut. Fusce elementum consectetur arcu, ut porta felis dictum nec. Sed non rhoncus enim, a dapibus diam. Etiam congue ullamcorper est ac consequat.
        </p> <p>
            Phasellus vitae ornare metus. Vivamus hendrerit ornare mi eu malesuada. Sed vel magna quis ipsum volutpat tincidunt. Mauris pharetra ante at neque tristique laoreet. Cras rhoncus, ipsum eu semper commodo, neque nibh eleifend orci, non consectetur erat leo sed enim. Vestibulum accumsan elit nec augue bibendum, et molestie eros porttitor. Donec convallis finibus risus eu aliquet. Suspendisse id augue dictum, pretium quam non, sodales nunc. Pellentesque sit amet feugiat orci. Fusce mi arcu, convallis sed egestas ac, efficitur in lacus. Vivamus lectus nibh, luctus id est ut, consectetur dictum erat. Sed semper pharetra erat vel porttitor. Proin quis risus ac purus bibendum fringilla.
        </p>
    </div>

<p class="fs-lg">
    <a href="#" class="fw-500 fs-xl">> Ready to join our dedicated team?</a><br>
    We are always on the lookout to expand and add unique app flavors to SmartAdmin. If you think you can contribute and create your very own flavors, get in touch with us or <a href="#" target="_blank">click here to learn more</a> about our partnership program.
</p>
@section ScriptsBlock {
}
