@{
    ViewData["Title"] = "PI";
    ViewData["Category1"] = "Página Inicial";

    ViewData["PageName"] = "home_index";
    ViewData["Heading"] = "<i class='fal fa-info-circle'></i> Página Inicial";

    ViewData["PageDescription"] = "O que é esse projeto?";
}
@section HeadBlock {}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
    <h3 class="mb-g">
       Home
    </h3>

    <p>
        Bla bla bla<br />
     
        The @ViewBag.App Team<br>
    </p>
</div>

<p class="fs-lg">
    <a href="#" class="fw-500 fs-xl">> Ready to join our dedicated team?</a><br>
    We are always on the lookout to expand and add unique app flavors to SmartAdmin. If you think you can contribute and create your very own flavors, get in touch with us or <a href="#" target="_blank">click here to learn more</a> about our partnership program.
</p>
@section ScriptsBlock {
}
