@{
    ViewData["Title"] = "PI";
    ViewData["Category1"] = "Página Inicial";

    ViewData["PageName"] = "home_index";
    ViewData["Heading"] = "<i class='fal fa-info-circle'></i> Página Inicial";

    ViewData["PageDescription"] = "O que é esse projeto?";
}
@section HeadBlock {}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
    <h3 class="mb-g">
        Agricultura de precisão no auxilio a tomada de decisões dos pequenos produtores rurais de Atibaia/SP
    </h3>

    <p>
        Esperamos que esse projeto não apenas fique no meio academico que realmente seja colocado em prática. <br />Provavelmente não teremos tempo em implementar tudo que queremos mas o código fonte está dispnível além de toda pesquisa, assim é nosso intuito que alguém possa se utilizar livremente desse começo.
        <br />
        Todo projeto foi desenvolvido pelos alunos, totalmente funcional, utilizando o que há de mais moderno para o mesmo.<br />
        Acesso nossas especificações técnicas e puxe nosso source licenciado pela GNU GPL.<br /> Você tem as seguintes liberdades:<br />
        <ol>
            <li>A liberdade de executar o programa, para qualquer propósito;</li>
            <li>A liberdade de estudar este projeto e programa para ver como funciona e adaptá-lo às suas necessidades; </li>
            <li>A liberdade de redistribuir cópias de modo que você possa ajudar ao seu próximo;</li>
            <li>A liberdade de aperfeiçoar o programa, e liberar suas modificações, de modo que toda a comunidade se beneficie delas.</li>
        </ol>
        <i>Só lembre de nos avisar! Ficaremos felizes.</i><br /><br /><br />


        By @ViewBag.App Time<br><div class="row">
            <div class="col-6">
                <img src="~/img/Logo_univesp.png" />
            </div>
            <div class="col-6">
               LOGO Projeto
            </div>

        </div>
    </p>
</div>

<p class="fs-lg">
    <a href="#" class="fw-500 fs-xl">> Não sabe o que isso faz?</a><br>
    Sinta-se a vontade de entrar em contato conosco (Quem somos) ou ler os nossos objetivos (Objetivos)
</p>
@section ScriptsBlock {
}
