@{
    ViewData["Title"] = "PI";
    ViewData["Category1"] = "Página Inicial";

    ViewData["PageName"] = "home_Objetivos";
    ViewData["Heading"] = "<i class='fal fa-info-circle'></i> Página Inicial";

    ViewData["PageDescription"] = "O que é esse projeto?";
}
@section HeadBlock {}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
    <h3 class="mb-g">
        Home
    </h3>

    <p>
Atibaia, produz 30% das flores de todo o país, porém os produtores são todos considerados pequenos produtores rurais ou utilizam as mesmas técnicas de pequenos produtores,
        sem automatização, sistemas de custos, estoque, gestão, etc.<br />
Pelas nossas pesquisas, identificamos que apenas grandes produtores de Soja e Cana de açúcar no Brasil tem utilizado alguma automatização, sensores e IoT no geral. <br />
        Nos USA e Holanda já tem mais pesquisa e desenvolvimento no setor.<br /><br />
Nosso objetivo é nacionalizar e com baixo custo criar dispositivos que ajuda o pequeno produtor a ter informações de sua produção.<br />
        Em um segundo momento essas informações serão cruciais para tomada de decisões, como qual melhor fertilizante utilizado (qual trouxe melhor resultado x custo) entre outras informações como, qual período de luz correto para o ‘amadurecimento’ das flores.<br />

    </p>
</div>

@section ScriptsBlock {
}
