@{
    ViewData["Title"] = "PI";
    ViewData["Category1"] = "Quem somos";

    ViewData["PageName"] = "home_quemSomos";
    ViewData["Heading"] = "<i class='fal fa-info-circle'></i> Página Inicial";

    ViewData["PageDescription"] = "Quem faz parte?";
}
@section HeadBlock {}

<h3>
    Nosso time
    <small class="mb-0">Time pequeno, mas com potencial...</small>
</h3>
<div class="d-flex flex-wrap demo demo-h-spacing mt-3 mb-3">
    <div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center flex-shrink-0">
        <img src="~/img/demo/authors/sunny.png" alt="Sunny A." class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
        <div class="ml-2 mr-3">
            <h5 class="m-0">
                Aramis G. Pires
                <small class="m-0 fw-300">
                    RA: 1716270
                </small>
            </h5>
            <a data-ra="1716270" class="text-info fs-sm" target="_blank" title="Contactar"><i class="fal fa-envelope"></i></a>
        </div>
    </div>
    <div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center flex-shrink-0">
        <img src="~/img/demo/authors/josh.png" alt="Jos K." class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
        <div class="ml-2 mr-3">
            <h5 class="m-0">
                Denise Y. Capasso
                <small class="m-0 fw-300">
                    RA: 1702534
                </small>
            </h5>
            <a data-ra="1702534" class="text-info fs-sm" target="_blank" title="Contactar"><i class="fal fa-envelope"></i></a>
        </div>
    </div>
    <div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center flex-shrink-0">
        <img src="~/img/demo/authors/jovanni.png" alt="Jovanni Lo" class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
        <div class="ml-2 mr-3">
            <h5 class="m-0">
                Fernando Zambo de O.B. Francisco
                <small class="m-0 fw-300">
                    RA: 1709980
                </small>
            </h5>
            <a data-ra="1709980" class="text-info fs-sm" target="_blank" title="Contactar"><i class="fal fa-envelope"></i></a>
        </div>
    </div>
    <div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center flex-shrink-0">
        <img src="~/img/demo/authors/roberto.png" alt="Jovanni Lo" class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
        <div class="ml-2 mr-3">
            <h5 class="m-0">
                Henrique P. Camacho
                <small class="m-0 fw-300">
                    RA: 1714211
                </small>
            </h5>
            <a data-ra="1714211" class="text-info fs-sm" target="_blank" title="Contactar"><i class="fal fa-envelope"></i></a>
        </div>
    </div>
    <div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center flex-shrink-0">
        <img src="~/img/demo/authors/roberto.png" alt="Jovanni Lo" class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
        <div class="ml-2 mr-3">
            <h5 class="m-0">
                Leonardo S. Dorathoto
                <small class="m-0 fw-300">
                    RA: 1705323
                </small>
            </h5>
            <a data-ra="1705323" class="text-info fs-sm" target="_blank" title="Contactar"><i class="fal fa-envelope"></i></a>
        </div>
    </div>
    <div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center flex-shrink-0">
        <img src="~/img/demo/authors/roberto.png" alt="Jovanni Lo" class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
        <div class="ml-2 mr-3">
            <h5 class="m-0">
                Wanderson J. Rezende?
                <small class="m-0 fw-300">
                    RA: 1714060
                </small>
            </h5>
            <a data-ra="1714060" class="text-info fs-sm" target="_blank" title="Contactar"><i class="fal fa-envelope"></i></a>
        </div>
    </div>
</div>

@section ScriptsBlock {

    <script>
        var ra = document.querySelectorAll('[data-ra]');

        [].forEach.call(ra, function (a) {
            a.href = 'mailto: ' + a.dataset.ra + '@@univesp.br'
        })

    </script>

}
