<div class="info-card">
	<div class="info-card-text">
	
		
	</div>
	<img src="~/img/card-backgrounds/cover-2-lg.png" class="cover" alt="cover">
	<a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
		<i class="fal fa-angle-down"></i>
	</a>
</div>